<% provide(:title, 'Acerca') %>
<h1>Acerca de</h1>
<p>Este es un prototipo de una Red Social para Restaurantes y Barres. Forma parte del proyecto
	de Seminario de Sistemas del alumno Germán Martínez de la carrera de Lic. en Análisis de 
	Sistemas de la Universidad Nacional de Salta.</p>
