<% provide(:title, 'Acerca') %>
<div class="page-header">
  <h1>Acerca de <strong>RestOnLine</strong></h1>
</div>

<p>Este es un prototipo de una Red Social para Restaurantes y Barres. Forma parte del proyecto
	de Seminario de Sistemas del alumno Germán Martínez de la carrera de Lic. en Análisis de 
	Sistemas (Plan 2010) de la Universidad Nacional de Salta.</p>
