<% provide(:title, 'Acerca') %>
<div class="page-header">
  <h1>Acerca de <strong>RestOnLine</strong></h1>
</div>

<p>Este es un prototipo de una Red Social para Restaurantes y Barres. Forma parte del proyecto
	de Seminario de Sistemas del alumno Germán Martínez de la carrera de Lic. en Análisis de 
	Sistemas (Plan 2010) de la Universidad Nacional de Salta. Este proyecto es desarrollado con Ruby on Rails.
</p>
<p>
	Puede encontrar el informe del seminario en el siguiente enlace: 
	<a href="https://dl.dropboxusercontent.com/u/30535816/Informe%20Final.pdf" target="_blank">https://dl.dropboxusercontent.com/u/30535816/Informe%20Final.pdf</a>
</p>
<p>
	Puede encontrar el código en el siguiente enlace: 
	<a href="https://github.com/mmgerman89/seminario" target="_blank">https://github.com/mmgerman89/seminario</a>
</p>
