
<div class="jumbotron">
	<h1>¡Bienvenido a RestOnLine!</h1>
	<p>RestOnLine es una nueva <b>red social</b> para encontrar los mejores restaurantes y bares cerca
		tuyo, hacer pedidos on-line, realizar reservas, compartir con tus amigos, y mucho más!
		Creá tu cuenta y probá la mejor manera de ir a un restaurante.</p>
	<p><a class="btn btn-primary btn-lg" href="#" role="button">Iniciar Sesión</a></p>
</div>

