<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">Información</a></li>
  <li role="presentation"><%= link_to "Carta", "#" %></li>
  <li role="presentation"><a href="#">Contacto</a></li>
</ul>