<%
	@tabs = Hash.new
	@tabs["menus"] = "active"
%>
<%= render layout: 'layouts/tabs_branch', locals: {title: 'Carta'} {  } %>

<div class="menu">
	<div class="row" align="center">
		<%= button_to "Nuevo item", new_item_path, method: :get, class: "btn btn-primary" %>
	</div>
	<br />	
	<div class="row">
		<% @menu.each do |item| %>
			<%= render layout: 'shared/item_branch', locals: {item: item} {} %>
		<% end %>
	</div>
</div>
