<ul class="nav nav-tabs">
  <li role="presentation"><%= link_to "Información", branch_path(@branch.id) %></li>
  <li role="presentation" class="active"><a href="#">Carta</a></li>
  <li role="presentation"><a href="#">Contacto</a></li>
</ul>