<div class="panel panel-primary">
	<div class="panel-heading" align="center"><strong>Reservas On-line</strong></div>
	<div class="panel-body" align="center">
		<% if true %>
			<p>No implementado.</p>
		<% else %>
			<p>No tiene pedidos nuevos.</p>
		<% end %>
	</div>
</div>
