<div class="panel panel-primary">
	<div class="panel-heading" align="center"><strong>Pedidos On-line</strong></div>
	<div class="panel-body" align="center">
		<% if orders > 0 %>
			<h3>¡Atención!</h3>
			<p>¡Tiene <strong><%= orders %></strong> pedidos nuevos! <%= link_to "Atender ahora", orders_path %></a></p>
		<% else %>
			<p>No tiene pedidos nuevos.</p>
		<% end %>
	</div>
</div>
