<h1>Comercios registrados</h1>

<% if not @commerces.nil? %>
	<% @commerces.each do |com| %>
		<h3><%= com.name %></h3>
		<% com.branches.each do |branch| %>
			<p>Sucursal: <%= branch.name %></p>
		<% end %>
	<% end %>
<% end %>
