<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Nuevo Comercio</h4>
    <p>Está por registrar un nuevo comercio a nombre de: <%= current_user.first_name + ' ' + current_user.last_name %></p>
  </div>
  <div class="panel-body">
  	<%= render 'form' %>
  </div>
</div>