@import "bootstrap";

.state-head {
  font-size: 1.4em;
}

.state-content {
  display: inline;
  font-size: 1.2em;
}

.state-foot {
  font-size: 0.7em;
  margin-top: 10px;
  margin-bottom: -5px;
}

.media-body {
  width: 100%;
}

/* footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
  text-align: center;
}