@import "bootstrap";

.state-head {
  font-size: 1.4em;
}

.state-content {
  display: inline;
  font-size: 1.2em;
}

.state-foot {
  font-size: 0.7em;
  margin-top: 10px;
  margin-bottom: -5px;
}

.media-body {
  width: 100%;
}

/* Item menu */
.menu {
  
}

.links-branch {
  font-size: 0.9em;
  display: inline;
}

.price-branch {
  font-size: 1.7em;
  float: right;
}

.item-bottom {
  padding-top: 15px;
}

/* header branch */
#branch-title {
  margin-top: 0;
}
#info_branch {
  font-size: 0.75em;
}

#info_branch h3{
  font-size: 1.2em;
  text-align: center;
}

#branch-panel-body {
  margin: 0;
  padding: 5px;
}

#branch-panel-body td{
  padding-right: 15px;
  padding-left: 15px;
}

#branch-panel-heading {
  margin: 0;
  padding: 5px;
}

.page-header hr {
  margin-top: 0;
}

.title-branch {
}

.img-branch img {
  float: left;
  margin-right: 25px;
}

/* footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
  text-align: center;
}

.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
}

