<p class="text-center">
	<br /><img src="/img/en_construccion.png" alt="En construcción"/><br /><br />
	Si está corriendo este sistema de manera local, es recomendable obtener la última versión de código en
	<%= link_to "https://github.com/mmgerman89/seminario", "https://github.com/mmgerman89/seminario", target: "_blank" %>
</p>